@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Grotesk";
  src: url("SpaceGrotesk-Regular.eot");
  src: local("Space Grotesk Regular"), local("SpaceGrotesk-Regular"),
    url("SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@layer base {
  html {
    font-family: "Space Grotesk", system-ui, sans-serif;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ecfcff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00a9ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a3b61;
}
