<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link href="/style.css" rel="stylesheet" />
  </head>

  <body class="container mx-auto h-screen bg-blue-50/50">
    <div class="absolute inset-x-0 -z-10 bottom-0 h-1/2 bg-blue-100"></div>
    <section
      class="container flex flex-col items-center h-full justify-center mx-auto"
    >
      <form class="bg-white w-5/12 shadow-md rounded-3xl p-10 gap-4">
        <div class="flex justify-between items-center pb-10">
          <div class="flex flex-col">
            <h1 class="text-3xl font-bold text-blue-600 text-center">
              Register
            </h1>
            <p>Welcome</p>
          </div>
          <div class="dark:bg-blue-900 flex">
            <a href="/" class="flex flex-col gap-1">
              <img
                src="/img/logo/brand/icon.svg"
                class="h-6 ml-2"
                alt="Thibitisha Logo"
              />
              <span
                class="self-center text-sm font-semibold whitespace-nowrap dark:text-blue-50"
                >Thib-tisha</span
              >
            </a>
          </div>
        </div>
        <div class="flex gap-4 mb-6">
          <div class="w-1/2">
            <label
              for="first"
              class="block mb-2 text-sm font-medium text-blue-900 dark:text-blue-50"
              >First name</label
            >
            <input
              type="text"
              id="first"
              class="bg-blue-50/10 border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-blue-50 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder=""
              required
            />
          </div>
          <div class="w-1/2">
            <label
              for="last"
              class="block mb-2 text-sm font-medium text-blue-900 dark:text-blue-50"
              >Last name</label
            >
            <input
              type="text"
              id="last"
              class="bg-blue-50/10 border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-blue-50 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder=""
              required
            />
          </div>
        </div>
        <div class="mb-6">
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-blue-900 dark:text-blue-50"
            >Your email</label
          >
          <input
            type="email"
            id="email"
            class="bg-blue-50/10 border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-blue-50 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@thibitisha.com"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="phone"
            class="block mb-2 text-sm font-medium text-blue-900 dark:text-blue-50"
            >Your phone</label
          >
          <input
            type="number"
            id="phone"
            class="bg-blue-50/10 border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-blue-50 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="+225 123 456 789"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-blue-900 dark:text-blue-50"
            >Your password</label
          >
          <input
            type="password"
            id="password"
            class="bg-blue-50/10 border border-blue-300 text-blue-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-blue-700 dark:border-blue-600 dark:placeholder-blue-400 dark:text-blue-50 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
        <button
          type="submit"
          class="text-blue-50 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Continue
        </button>
        <p class="text-sm text-blue-800 dark:text-blue-400 mt-6">
          Already a user?
          <a href="login.html" class="underline font-bold">Login</a>
        </p>
      </form>
    </section>
    <script src="./node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
